<!-- views/main.ejs -->

<!DOCTYPE html>
<html lang="<%= language %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/main.css"> <!-- Link to external CSS file -->
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/main"><%= language === 'en' ? 'Main page' : 'Главная страница' %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <% if (user.isAdmin) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/admin"><%= language === 'en' ? 'Admin Panel' : 'Панель Админа' %></a>
                </li>
            <% } %>
            <li class="nav-item">
                <a class="nav-link " href="/football"><%= language === 'en' ? 'Football' : 'Футбол' %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news"><%= language === 'en' ? 'News' : 'Новости' %></a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <button class="<%= language === 'en' ? 'active' : '' %> btn btn-outline-primary mr-2" onclick="changeLanguage('en')">English</button>
            <button class="<%= language === 'ru' ? 'active' : '' %> btn btn-outline-primary" onclick="changeLanguage('ru')">Русский</button>
        </div>
        <form class="form-inline my-2 my-lg-0" action="/auth/logout" method="POST">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><%= language === 'en' ? 'Logout' : 'Выйти' %></button>
        </form>
    </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center mb-4"><%= language === 'en' ? 'Admin Panel' : 'Панель админа' %></h1>
            <form action="/admin/add" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label"><%= language === 'en' ? 'Username' : 'Имя пользователя:' %>:</label>
                    <input type="text" id="username" name="username" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="phoneNumber" class="form-label"><%= language === 'en' ? 'Phone number:' : 'Номер телефона:' %></label>
                    <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label"><%= language === 'en' ? 'Password' : 'Пароль:' %></label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <div class="form-check mb-3">
                    <input type="checkbox" id="isAdmin" name="isAdmin" class="form-check-input">
                    <label for="isAdmin" class="form-check-label"><%= language === 'en' ? 'Is admin' : 'Будет админом:' %></label>
                </div>
                <button type="submit" class="btn btn-primary"><%= language === 'en' ? 'Add' : 'Добавить' %></button>
            </form>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <ul class="list-group">
                <% users.forEach(user => { %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <%= user.username %>
                    <% if (user.isAdmin) { %>
                    <span class="badge bg-primary rounded-pill"><%= language === 'en' ? 'Admin' : 'Админ' %></span>
                    <% } %>
                    <form action="/admin/delete/<%= user._id %>" method="post" class="delete-form">
                        <button type="submit" class="btn btn-danger btn-sm"><%= language === 'en' ? 'Delete' : 'Удалить' %></button>
                    </form>
                </li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>

<footer class="mt-5">
    <div class="container">
        <p class="text-center">Bekarys Zhuzeyev SE-2205</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
    function changeLanguage(lang) {
        window.location.href = '/admin?lang=' + lang;
    }
</script>
</body>
</html>
