<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">   
     <style>
        body {
            background-color: #f8f8f8;
            font-family: Arial, sans-serif;
        }
        footer {
            text-align: center;
            margin-top: 20px;
            padding: 10px;
            background-color: #f8f9fa;
            color: #333;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
        }
        .container {
            max-width: 800px;
            margin: 100px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #333;
            text-align: center;
        }
        p {
            text-align: center;
        }
        .carousel-inner img {
            max-width: 60%;
            height: auto;
        }

        .navbar-nav .language-btn {
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 16px;
            font-weight: 500;
            padding: 5px 10px;
            margin-right: 10px;
            color: #333; /* Default color */
            border-bottom: 2px solid transparent; /* Default border color */
            transition: color 0.3s, border-bottom-color 0.3s;
        }

        .item-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
      }

      .item {
        width: calc(33.33% - 20px);
        margin-bottom: 20px;
      }

      .item .carousel {
        border-radius: 10px;
      }

      .item-info {
        padding: 10px;
        background-color: #f9f9f9;
        border-radius: 10px;
        margin-top: 10px;
      }

      .item-info h2 {
        margin-bottom: 10px;
      }

        .navbar-nav .language-btn.active {
            color: #007bff; 
            border-bottom-color: #007bff; /* Active border color */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/main"><%= language === 'en' ? 'Main page' : 'Главная страница' %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <% if (user.isAdmin) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin"><%= language === 'en' ? 'Admin Panel' : 'Панель Админа' %></a>
                    </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link " href="/football"><%= language === 'en' ? 'Football' : 'Футбол' %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news"><%= language === 'en' ? 'News' : 'Новости' %></a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <button class="<%= language === 'en' ? 'active' : '' %> language-btn" onclick="changeLanguage('en')">English</button>
                <button class="<%= language === 'ru' ? 'active' : '' %> language-btn" onclick="changeLanguage('ru')">Русский</button>
            </div>
            <form class="form-inline my-2 my-lg-0" action="/auth/logout" method="POST">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
            </form>
        </div>
    </nav>

    <div class="container">
        <h1><%= language === 'en' ? 'Welcome' : 'Добро пожаловать' %> <%= user.username %>!</h1>
        <p><%= language === 'en' ? 'Main content goes here.' : 'Основное содержание здесь.' %></p>

        <div class="center">
            <h1><%= language === 'en' ? 'Authors favorite teams' : 'Любимые команды автора' %></h1>
            <div id="itemsCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <% teams.forEach((team, index) => { %>
                        <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                            <h2><%= language === 'en' ? team.nameEN : team.nameRUS %></h2>
                            <img src="<%= team.imageUrl %>" class="d-block w-100" alt="Item Image">
                            <p><%= language === 'en' ? team.descriptionEN : team.descriptionRUS %></p>
                        </div>
                    <% }) %>
                </div>
                <a class="carousel-control-prev" href="#itemsCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#itemsCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <footer>Bekarys Zhuzeyev SE-2205</footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>    <script>
        function changeLanguage(lang) {
            window.location.href = '/main?lang=' + lang;
        }
    </script>
        </body>

    </html>
    